.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner {
    width: 50vw;
    height: 50vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.imageTextContainer {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
